{% extends "layout.html" %}

{% block title %} Movies {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Movies</h1>
    </div>
    
    {% if movies %}
      <form role="form" action="" method="post" name="movies" class="form-horizontal">
        <ul class="list-unstyled">
          {% for movie_id, movie in movies %}
          <li>
            <input type="checkbox" name="movie_ids" value="{{ movie_id }}" />
            <a href="{{ url_for('site.movie_page', movie_id=movie_id) }}">
              {{ movie.title }}
              {% if movie.year %} ({{ movie.year }}) {% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>

        <button type="submit" name="delete" class="btn btn-primary">Delete</button>
      </form>
    {% endif %}
      
{% endblock %}

